*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #16242b;
}
p{
    color: gray;
    font-size: 20px;
}
h4{
    color: white;
}
h2{
    color: white;
}
.navbar-brand img {
    width:100px;
    height: auto;
}
.navbar{
   font-weight: 600;
   background-color: rgba(0, 0, 0, 0.6);
   border-bottom: 2px solid #7cacf3;
}
.nav-link{
    transition: all 0.7s;
}
.nav-link:hover{
    color: #7cacf3 !important;
    text-decoration: underline;

}


/*------------------------home----------------*/
.home{
    background-image: url(../images/csjpg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.name{
    color: #7cacf3;
}
.home-layer{
    background-color: rgba(0, 0, 0, 0.6);
}
.animation-header:after{
    content: "|";
    animation-name: subtitle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.caption h1{
    font-size: 60px;
}
@keyframes subtitle {
    0%{content: '|';}
    2%{content: 'f|';}
    4%{content: 'fr|';}
    6%{content: 'fro|';}
    8%{content: 'fron|';}
    10%{content: 'front|';}
    15%{content: 'fronte|';}
    20%{content: 'fronten|';}
    25%{content: 'frontend|';}
    30%{content: 'fronten|';}
    32%{content: 'fronte|';}
    35%{content: 'front|';}
    39%{content: 'front|';}
    41%{content: 'fron|';}
    44%{content: 'fro|';}
    46%{content: 'fr|';}
    48%{content: 'f|';}
    50%{content: '|';}
    55%{content: 'D|';}
    59%{content: 'De|';}
    62%{content: 'Dev|';}
    66%{content: 'Deve|';}
    69%{content: 'Devel|';}
    72%{content: 'Develo|';}
    75%{content: 'Develop|';}
    79%{content: 'Develope|';}
    82%{content: 'Developer|';}
    84%{content: 'Develope|';}
    87%{content: 'Develop|';}
    90%{content: 'Develo|';}
    92%{content: 'Devel|';}
    94%{content: 'Deve|';}
    96%{content: 'Dev|';}
    98%{content: 'De|';}
    99%{content: 'D|';}
    100%{content: '|';}
}
.information-link{
    /* border: 2px solid black; */
    text-decoration: none;
    color: white;
    /* padding: 10px; */
  /* margin-top: 1000px; */
}
.home_para{
    font-size: 25px;
}

/* .button-link{
    background-color: transparent;
    border: 0.5px solid white;
    transition: all 0.5s;
}
.button-link{
    transition: 1.5s;
}
.button-link:hover{
    
    border: 0.5px solid #7cacf3;
}
.button-link a{
    transition: 0.7;
}
.button-link:hover a{
    
    color:  #7cacf3;
} */
/*------------------------about--------------------------------------------------*/
.about-icons{
    font-size: 30px;
    padding: 10px;
}
.about-icon {
    font-size: 4em; 
    padding: 10px;
    margin: 20px;
    /* border: 1px solid black; */
    color: #7cacf3;
}
.about-desc{
    text-align: center;
    padding: 10px;
    color: gray;
}
.card{
    transition: 1s;
    overflow: hidden;
    box-shadow: 0 0 20px 15px rgba(7, 11, 106, 0.4);
}
.card-body{
    text-align: center;
}
.progress{
    margin: 10px;
    width: 100%;
    height: 5%;
}
.skills_desc{
    /* padding: 3px;
    margin: 2px; */
    background-color: rgba(132, 83, 216, 0.082);
    border-radius: 10px;
    color: #854ce6;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 8px;
}
/* /////////////////////////////// */
.pr{
    /* margin-left: 100px; */
    margin-top: 40px;
    padding-bottom: 40px;

}
.projects_word{
    padding-top: 30px;
/* text-decoration: underline;     */
}
.project_para{
    font-size: 20px;
}

.card-img-top {
    transition: transform 0.5s;
  }
  
  .overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition:  2s;
    /* background-color: white; */
  }
  .overlay-text a{
    color :#854ce6;
    border: 1px solid #854ce6;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;

  }
  .overlay:hover .overlay-text {
    opacity: 1;
  }
  
  .overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 1s;
  }
  
  .overlay:hover::before {
    opacity: 1; 
  }
  
  /* .overlay:hover .card-img-top {
    transform: scale(1.1);
  } */
  .card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 12px 4px rgba(246, 244, 244, 0.4);  }
  .card:hover img{
    transform:scale(1.07) ;
  }
/* .skill-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px
}
  .skill-item {
    align-items: center;
    border: 1px solid #f2f3f4;
    border-radius: 12px;
    color: #171b1f;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    padding: 12px 16px;
    width: 10px;
} */
.card.skills{
    background-color: transparent;
    color: white;
}
.skill-item{
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(20, 8, 59);
    background-color: white;
    border-radius: 10px;
    
}

.skill-item span{
   color: gray;
}
.card.seif{
    background-color: transparent;
}
    /* start footer /////////////////////////////////////////////*/
.arrow{
    font-size: 40px;
    color: #7cacf3;
    padding: 10px;
}
.footerback{
    background-color: #111e33;
}
.links{
    padding-top: 20px;
}
.link-item{
    padding: 10px;
    font-size: 30px;
    /* border: 2px solid #32445f; */
    margin: 10px;
    /* background-color: #32445f; */
    transition: 1s;

}
.link-item a{
    color: white;
    transition: 1s;
}
.fa-brands{
    color: white;
}
.link-item.face:hover a{
    color: #3b5998;
}
.link-item.face:hover{
    /* color: #3b5998; */
    background-color: transparent;
    border: 1px solid transparent;
}
.link-item.git:hover a{
    color:#fbad50;
}
.link-item.git:hover{
    background-color: transparent;
    border: 1px solid transparent;
}
.link-item.linked:hover a{
    color: #8598bf;
}
.link-item.linked:hover{
    background-color: transparent;
    border: 1px solid transparent;
}
.link-item.insta:hover a{
    color:#cd486b ;
}
.link-item.insta:hover{
    background-color: transparent;
    border: 1px solid transparent;
}
.permission{
    margin-top: 10px;
}
